body {
    font-family: 'Roboto', sans-serif;
    margin:0;
}

.top{
    color:white;
    padding:25px 350px 100px 350px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header, .hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 60px;
}

.header {
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    color:#F9Faf8;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.links, .hero-text-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 24px;
}

.container {
    padding:14px 50px 14px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

button {
    background-color:#3882f6;
    color:white;
    font-weight: bolder;
    padding: 10px 35px 10px 35px;
    font-size:medium;
    border:none;
    border-radius: 6px;
    width: fit-content;
    font-size: 18px;
}

.hero-text {
    font-size: 48px;
    font-weight:bolder;
    color:F9faf8;
}

.man-in-desert {
    max-width: 50%;
    min-width: 100px;
    height: auto;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 185px;
    height: auto;  
    text-align: center; 
    color:darkslategray;
}

.content img {
    border:5px solid #3882f6;
    border-radius: 20px;
    height: 175px;
    margin-bottom: 15px;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 50px 0 50px 0;
}

.content {
    margin-bottom: 150px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    padding:150px 0 150px 0;
}


.author {
    text-align: end;
    margin-top: 15px;
    font-style: normal;
    font-weight: bold;
}



.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin:100px 200px 100px 200px;
    padding:60px;
    border-radius: 10px;
    gap:200px;
    color:white;
}

.CTA-text {
    font-weight: bold;
    font-size: 28px;
}

.CTA-signup-text {
    font-size: 20px;
}

.CTA-button {
    border: 2px solid white;
}

